<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Curriculum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Dati Anagrafici</ion-label>
      </ion-item>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Informazioni Aziendali</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
