<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crea Offerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container mx-auto">
    <div class="flex items-center justify-center">
      <div class="w-11/12 md:w-1/2">
        <div class="flex justify-between">
          <div class="step-indicator" [ngClass]="{'text-includo-sky': currentStep === 1}">Posizione</div>
          <div class="step-indicator" [ngClass]="{'text-includo-sky': currentStep === 2}">Azienda</div>
        </div>

        <div class="mt-8">
          <form [formGroup]="form">

            <div @fadeInRegular class="step" *ngIf="currentStep === 1">
              <label class="label font-bold pl-4">
                <span class="label-text">Titolo</span>
              </label>
              <input type="text" placeholder="Titolo" class="input w-full" formControlName="title"/>
              <label class="label font-bold pl-4">
                <span class="label-text">Descrizione</span>
              </label>
              <textarea class="textarea input w-full" formControlName="description" placeholder="Descrizione"></textarea>
              <label class="label font-bold pl-4">
                <span class="label-text">Competenze richieste</span>
              </label>
              <div class="flex items-center">
                <input type="text" placeholder="Competenza" class="input w-full" formControlName="skill"/>
                <div class="ml-2" *ngIf="form.get('skill')?.dirty && form.get('skill')?.value">
                  <ion-icon name="add" (click)="addSkill()"></ion-icon>
                </div>
              </div>
              <div class="px-2">
                <ion-chip @zoomInRegular *ngFor="let skill of skills; let i = index"
                          (click)="toggle(i)">
                  <ion-label>{{skill.skill}}</ion-label>
                  <ion-icon @zoomInFast *ngIf="skill.selected" name="close" (click)="removeSkill(i)"></ion-icon>
                </ion-chip>
              </div>

              <button type="button" class="btn btn-sm btn-primary" (click)="nextStep()">Next</button>
            </div>

            <div @fadeInRegular class="step" *ngIf="currentStep === 2">
              <div class="ion-padding" slot="content">
                <label class="label font-bold pl-4">
                  <span class="label-text">Azienda</span>
                </label>
                <input type="text" placeholder="Azienda" class="input w-full" formControlName="companyName"/>
                <label class="label font-bold pl-4">
                  <span class="label-text">Indirizzo</span>
                </label>
                <input type="text" placeholder="Indirizzo" class="input w-full" formControlName="companyAddress"/>
                <label class="label font-bold pl-4">
                  <span class="label-text">Numero di telefono</span>
                </label>
                <input type="text" placeholder="Numero di telefono" class="input w-full" formControlName="companyPhone"/>
                <label class="label font-bold pl-4">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="Email" class="input w-full" formControlName="companyEmail"/>
              </div>

              <button type="button" class="btn btn-sm btn-outline btn-primary" (click)="previousStep()">Previous</button>
              <button [disabled]="form.invalid" type="button" class="btn btn-sm btn-primary" (click)="create()">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</ion-content>
