<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">IncluDO</span>
    </a>
    <div class="flex items-center md:order-2">
      <ion-menu contentId="main-content">

        <div
          class="flex flex-col justify-between w-full h-screen md:flex md:w-auto md:order-1 bg-white border-gray-200 dark:bg-gray-900">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4">
            <li>
              <a routerLink="/cv"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                aria-current="page">Profilo</a>
            </li>
            <li (click)="goTo('offers')">
              <a
                class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Annunci</a>
            </li>

          </ul>

          <div class="flex justify-between p-6">

            <div class="relative w-14 h-14 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
              <svg class="absolute w-14 h-14 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                </path>
              </svg>
            </div>

            <button (click)="onThemeToggleClick()" id="theme-toggle" type="button"
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
              <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 3V1m0 18v-2M5.05 5.05 3.636 3.636m12.728 12.728L14.95 14.95M3 10H1m18 0h-2M5.05 14.95l-1.414 1.414M16.364 3.636 14.95 5.05M14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" />
              </svg>
              <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z" />
              </svg>
            </button>


            <button (click)="signOut()"
              class="flex items-center mt-1 py-2 p-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              <ion-icon class="text-lg font-semibold" name="log-out-outline"></ion-icon>
              <p class="ml-1">Logout</p>
            </button>

          </div>
        </div>
      </ion-menu>
      <div id="main-content">
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
    </div>

  </div>
</nav>