<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleChangeLang()">
        <span [className]="'me-2 fi fi-'+selectedLanguage?.iso?.toLocaleLowerCase() + ' fis'"></span>
        <i class="fa-solid fa-caret-down"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

<div class="flex flex-col items-center">
  <div class="flex justify-between">
    <div class="pt-8 pl-4">
      <p class="text-lg">Bentornato Gino</p>
    </div>
    <div class="p-4">
      <div class="avatar" (click)="goToProfile()">
        <div class="w-24 rounded-full">
          <img src="assets/icons/icon-96x96.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between items-center w-11/12 rounded-md bg-gray-200 p-4">

    <p>Completamento profilo</p>

    <div class="radial-progress" style="--value:70;">70%</div>

  </div>
</div>

</ion-content>
