<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

  <div class="flex flex-col items-center">

    <div class="flex justify-between gap-12 items-center pt-8 px-10">
      <p class="text-2xl">Bentornato, <br>{{authService.currentUser?.displayName}}!</p>
      <div class="ml-2 avatar">
        <div class="w-24 rounded-full">
          <img [src]="imageURL ? imageURL : 'assets/empty/blank-profile.png' "/>
        </div>
        <button (click)="updatePhoto()" class="absolute right-1 bottom-1 btn btn-xs btn-circle bg-includo-sky" [ngClass]="imagePreviewed ? 'bg-green-600' : ''">
          <ion-icon color="light" name="pencil" *ngIf="!imagePreviewed"></ion-icon>
          <ion-icon color="light" name="checkmark" *ngIf="imagePreviewed"></ion-icon>
        </button>
      </div>
    </div>

    <div class="divider px-10"></div>

    <div class="my-2">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Candidature</div>
          <div class="stat-value">11</div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
