<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

  <div class="flex justify-between items-center pt-8 px-10">
    <p class="text-2xl">Bentornato {{authService.currentUser?.displayName}}!</p>
  </div>



</ion-content>
