<app-navbar></app-navbar>

  <div class="flex justify-center mb-8">

    <h2 class="title">Annunci</h2>

    <ion-icon *ngIf="authService.isAdmin" class="text-xl absolute top-5 right-5" name="add-circle-outline"
      (click)="addOffer()"></ion-icon>
  </div>

  <div *ngFor="let offer of offers$ | async"
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{offer.title}}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{offer.description}}</p>
    <a href="#"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Scopri di più
      <ion-icon name="arrow-forward-outline" class="text-lg ml-1"></ion-icon>
    </a>
  </div>

