<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Annunci
    </ion-title>
    <ion-buttons slot="end" *ngIf="authService.isAdmin">
      <ion-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-searchbar></ion-searchbar>

  <ion-card *ngFor="let offer of offers | async" (click)="goToDetails(offer?.id)">
    <ion-card-header>
      <ion-card-title>{{offer.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip *ngFor="let skill of offer.skills">
        {{skill}}
      </ion-chip>
    </ion-card-content>
  </ion-card>


</ion-content>
